.spinner {
  border: 2px solid #f3f3f330;
  border-top: 2px solid #orange;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

.spinner-sm {
    width: 12px;
    height: 12px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.highlight-tranche {
  background-color: #00ff4120;
}


tr.prediction-won {
  background-color: rgba(3, 218, 198, 0.1);
  &:hover {
    background-color: rgba(3, 218, 198, 0.15);
  }
}

tr.prediction-lost {
  background-color: rgba(207, 102, 121, 0.1);
  &:hover {
    background-color: rgba(207, 102, 121, 0.15);
  }
}